@model IEnumerable<IT_Project2526.Models.ProjectTemplate>

@{
    ViewData["Title"] = "Project Templates";
}

<h1>Project Templates</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Template</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Ticket Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Tickets.Count
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
