@model List<IT_Project2526.ViewModels.CustomerListViewModel>

@{
    ViewData["Title"] = "Customers: Overview";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Projects</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model ?? new List<IT_Project2526.ViewModels.CustomerListViewModel>())
        {
            <tr>
                <td>@(string.Concat(customer.FirstName, " ", customer.LastName).Trim())</td>
                <td>@customer.Email</td>
                <td>@customer.ProjectCount</td>
                <td>
                    @* De link naar de detailpagina *@
                    <a asp-action="Detail" asp-route-id="@customer.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
