@model List<IT_Project2526.ViewModels.ProjectViewModel>
@using System.Linq
@using IT_Project2526
@using IT_Project2526.Models;
@using IT_Project2526.ViewModels;
@{
    ViewData["Title"] = "Project Overview & Tickets";
}

<h2>@ViewData["Title"]</h2>

<div class="box">
<a asp-controller="Projects" asp-action="NewProject" class="btn">Create New Project</a>
</div>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model) //Lijst ostellen
    {
        <div class="project-container">
            @*ProjectDetails*@
            <h3>
                Project: 
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Guid">
                    @item.Name
                </a>
            </h3>
            <p>Project Manager: @item.ProjectManagerName</p>
            <p>Number of Tickets: @item.TicketCount</p>
            @if (item.CurrentTicketGuid.HasValue)
            {
                <p>
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.CurrentTicketGuid">
                        @item.CurrentTicketDescription
                    </a>
                    <status-badge status="@item.CurrentTicketStatus.Value"></status-badge>
                </p>
            }
            else
            {
                <p>No Active Tickets</p>
            }
        </div>
        <hr />
    }
}
else
{
    <p>No Projects Available.</p>
}