@using IT_Project2526.Models;
@using IT_Project2526.ViewModels;
@{
    ViewData["Title"] = "Project Overview & Tickets";
}

<h2>@ViewData["Title"]</h2>

<div class="box">
<a asp-controller="Projects" asp-action="NewProject" class="btn">Create New Project</a>
</div>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model) //Lijst ostellen
    {
        <div class="project-container">
            @*ProjectDetails*@
            <h3>Project: @item.ProjectDetails.Name</h3>
            <p>Project Manager: @item.ProjectDetails.ProjectManager.name</p>
            @if (item.Tasks != null && item.Tasks.Any())
            {
                <table class="project-table">
                    <thead>
                        <tr>
                            <th>Number Ticket</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in item.Tasks)
                        {
                            <tr>
                                <td>
                                    @ticket.Guid
                                </td>
                                <td>
                                    @ticket.TicketStatus
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Tickets for this Project</p>
            }
        </div>
        <hr />
    }
}
else
{
    <p>No Projects Avaidable.</p>
}